body{
    background-color:coral;
    height: auto;
    width: auto;

h1{
    display: inline;
    box-sizing: border-box;
    text-align: left;
    margin-top: 20px 0px 0px auto;
    padding: 1px;
    
}
#b{
    display: inline;
    margin-left: 60px;
}

img{
    margin-top: 20px;
    height: 300px;
    width: auto;
    
}